

<h1>
  Dashboard
</h1>
<h3>Manage:</h3>
<!-- <a routerLink = ""
   routerLinkActive = "active" > Add Project</a> -->

<div class = "card-deck">

<div class="card mt-3 card-inverse card-primary mb-3"  *ngFor="let p of projects;">
  <div class="card-header">
    <h4 class="card-title">Project: {{ p.name }}</h4>
  </div>

  <ul class="list-group list-group-flush" *ngFor = "let l of listings;">
    <div *ngIf = "p.projectID === l.projectId;">
    <li class="list-group-item">Listing: {{ l.title }}
      <div class = "row">
      <button class= "btn btn-link" (click) = "delete(l.id)"> Delete</button>
      <a routerLink = "/edit/{{p.posterID}}/{{l.id}}"
         routerLinkActive = "active" class= "btn btn-link" > Edit</a>
       </div>
    </li>
  </div>
  </ul>
  <div class = "card-footer">
    <a routerLink = "/add/{{p.posterID}}/{{p.projectID}}"
     routerLinkActive = "active" > Add Listing</a>

  </div>

</div>
</div>
<button class="btn btn-primary" (click)="addProject()">Add a New Project</button>
<form class="AddForm" *ngIf="showAddForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
  <div class = "form-group">
    <div class="input-group mb-2 mb-lg-0">
      <span class="input-group-addon">Project Name</span>
      <input type = "text"
              id = "projectName"
              name="projectName"
              class = "form-control"
              [(ngModel)]="newProject.name"
              #projectName="ngModel"
              required/>
    </div>
    <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)"
        class="text-danger">
        Name is required
    </div>
  </div>
  <tag-input name="tags" [(ngModel)]='projectTags' theme='bootstrap3-info'></tag-input>
</form>

