
h1 {
  padding-left: 2%;
}

.card-header {
  background-color: #00bcd4;
  height: 120px;
}

.card-block {
  min-height: 100px;
}

/* .card-footer{
position:absolute;
  bottom:0;
  width:100%;
} */

.btn.btn-danger{
  margin: 3%;
}
.btn.btn-info {
  margin: 3%;  
}

button:hover {
  cursor: pointer;
}

.card-deck .card{
  padding-bottom:50px;
  }

.modal-header {
  background-color: #009688;
}

.modal-title {
  color: white;
}

.mybutton {
  padding-right: 1%;
}
