<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card mt-3">
  <img src="../../../assets/images/user.png" alt="" style="width:100%">
  <h1>{{user.userID}}</h1>
  <h1>{{user.username}}</h1>
  <p class="title">Student</p>
  <p>Southern Methodist University</p>
  <a href="#"><i class="fa fa-linkedin icon"></i></a> 
  <a href="#"><i class="fa fa-facebook icon"></i></a> 
  <p><a [href]="'mailto:' + user.email">Contact</a></p>
</div>