
<div class = "container">
 <div class = "row">
   <div class = "col-md-12">
      <h1>Login</h1>

      <div class = "form-group">
        <div class="input-group mb-2 mb-sm-0">
          <span class="input-group-addon">Username</span>
            <input type = "text"
                  id = "userName"
                  class = "form-control"/>
      </div>
    </div>

      <div class = "form-group">
        <div class="input-group mb-2 mb-sm-0">
          <div class="input-group-addon">Password</div>
            <input type = "text"
                  id = "password"
                  class = "form-control"/>
      </div>
    </div>
      <div class = "form-group">
        <label for = "Login">
            </label>
            <button type="submit"
             class="btn btn-secondary">
             Login</button>
      </div>
</div>
</div>
</div>
