.container {
    padding: 10% 10%;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 0 50px black;
}

h1{
    text-align: center;
    padding: 5% 0;
}

p{
    text-align: center;
}

a{
   text-align: center;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.bg { 
    background-image: url("../../assets/images/books.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
