<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #009688;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class = "navbar" routerLink = "/login" routerLinkActive="active">
                <img src="/src/images/user.png" width="30" height="30" alt="userIcon">
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a routerLink = "" routerLinkActive="active">Favorites</a>
            </li>
          </ul>
          <a class="navbar-brand" routerLink = "/home" routerLinkActive="active">Peruna Projects</a>
        </div>
      </nav>
<router-outlet></router-outlet>
