<h1>Listings for Project</h1>
<div class="row">
  <div class="col-12">
    <div class = "container" *ngIf = "listings.length > 0; else default">
    <listing-item
      *ngFor="let l of listings; let i = index"
      [listing]="l"
      [index]="i"></listing-item>
  </div>
</div>

<!--else display default message-->
<ng-template #default>
  <div class = "container">
      <div class = "row">
        <div class= "col-md-12">
        <h3> There are no listings for this Project!</h3>
        </div>
      </div>
  </div>
</ng-template>
<br/>

<div class = "container mt-3">
<div class = "row">
  <div class= "col-md-12">
    <button class="btn btn-primary">
      <a routerLink = "/home" routerLinkActive = "active"> Back to Projects Page</a>
    </button>
  </div>
</div>
</div>

</div>
