<div class="container">
    <h1 class="title">Sign Up</h1>        
    <div class="signUpForm">
        <form>
            <div class="form-group">
                <div class="input-group mb-2 mb-sm-0">
                        <div class="input-group-addon">Username</div>
                        <input type="text" class="form-control" id="username" 
                            name="username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">Password</div>
                    <input type="password" class="form-control" id="password" 
                            name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2 mb-sm-0">
                    <div class="input-group-addon">Email</div>
                    <input type="email" class="form-control" id="email" 
                            name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="type">Are you a student or a professor?</label>
                <select class="form-control" id="type" name="type">
                    <option>Student</option>
                    <option>Professor</option>
                </select>
            </div>
            <div class="termOfUse">
                <a href="#">Term of use</a>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        I have read the terms of use and agree
                    </label>
                </div>
            </div>
            <div class="submitButton">
                <button type="submit" class="btn btn-primary">Register</button>                
            </div>
        </form>
    </div>
</div>