#welcome-message {
    text-align: center;
}

#search {
    text-align: center;
}

#search-form {
    display: inline-block;
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align:center;
    font-weight:bold;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

button:hover a{
    color: white;
}

.card-img {
    opacity: 0.25;
}


