#welcome-message {
    text-align: center;
}

#search {
    text-align: center;
    margin: 5%;
}

#search-form {
    display: inline-block;
    text-align: center;
}

#search-form {

}

#search-label {

}

#search-text {

}

#submit-button {
    
}
