<!DOCTYPE html>
<html>

  <head>
    <!-- <link rel="stylesheet" href="home.component.css">
    <script src="home.component.ts"></script> -->
  </head>

    <body>
        <div class="card">
            <div class="card-header" id="welcome-message">
                <h2>Peruna Projects</h2>
            </div>
                
            
            <div id="search">
                <form id="search-form" class="form-horizontal">
                    <div class="form-group">
                        <input class="form-control" type="text" id="search-text" placeholder="Search"><br>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="submit-button" value="Submit" class="btn btn-default">
                    </div>
                </form>
            </div>
        </div>        
    </body>

</html>